

/* Basic */

	html, body {
<<<<<<< HEAD
<<<<<<< HEAD
		min-width: 320px;
=======
		min-width: 350px;
>>>>>>> nor
=======
		min-width: 320px;
>>>>>>> jos
	}

	body, input, select, textarea {
		font-size: 12pt;
	}
<<<<<<< HEAD
<<<<<<< HEAD

/* List */

	ul.actions {
		margin: 0 0 2em 0;
	}

		ul.actions li {
			padding: 1em 0 0 0;
=======
=======

>>>>>>> jos
/* List */

	ul.actions {
		margin: 0 0 2em 0;
	}

		ul.actions li {
<<<<<<< HEAD
			padding: 0 0 0 0;
>>>>>>> nor
=======
			padding: 1em 0 0 0;
>>>>>>> jos
			display: block;
			text-align: center;
			width: 100%;
		}

			ul.actions li:first-child {
				padding-top: 0;
			}

			ul.actions li > * {
				width: 100%;
				margin: 0 !important;
			}

				ul.actions li > *.icon:before {
					margin-left: -2em;
				}

		ul.actions.small li {
			padding: 0.5em 0 0 0;
		}

			ul.actions.small li:first-child {
				padding-top: 0;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
<<<<<<< HEAD
<<<<<<< HEAD
		padding: 0;
                
=======
		padding: 0  4em 0 4em;
                
                                
>>>>>>> nor
=======
		padding: 0;
                
>>>>>>> jos
	}

/* Banner */

	#banner {
		padding: 5em 2em 4em 2em;
	}